# Ignore Python virtual environments
backend/venv/

# Ignore environment variable files
backend/.env

# Node modules
frontend/node_modules/

# Mac system files
.DS_Store

# Log files
*.log

# Ignore other common files
__pycache__/
*.pyc